<p style="color: green"><%= notice %></p>

<h1>Connections</h1>

<div id="connections">
  <% @connections.each do |connection| %>
    <%= render connection %>
    <p>
      <%= link_to "Show", connection %>
    </p>
  <% end %>
</div>

<%= link_to "New", new_connection_path %>
