
<div class="row">
  <div class="col-md-4"></div>
    <div class="sectionmain mt-5 p-3 col-md-4">
      <p style="color: green"><%= notice %></p>
      <%= render @ordering_information %>


    <div>
      <%= link_to "Back to Home", root_path, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>