<% <p style="color: green"><%#= notice %></p>

<h1>Technicals</h1>

<div id="technicals">
  <% @technicals.each do |technical| %>
    <%= render technical %>
    <p>
      <%= link_to "Show this technical", technical %>
    </p>
  <% end %>
</div>

<%= link_to "New technical", new_technical_path %> %>
